.AboutComponentWrapper {
    background-color: #d0d9db;
    color: #162123;
    padding: 40px;
    justify-content: center;
    padding-left: 400px;
    padding-right: 400px;
    text-align: justify;
}


@media all and (max-width: 1440px) {
    .AboutComponentWrapper {
        padding-left: 300px;
        padding-right: 300px;
    }
}


@media all and (max-width: 1024px) {
    .AboutComponentWrapper {
        padding-left: 100px;
        padding-right: 100px;
    }

    h1 {
        font-size: 40px;
    }
}


@media all and (max-width: 768px) {
    .AboutComponentWrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}



@media all and (max-width: 425px) {
    .AboutComponentWrapper {
        padding-left: auto;
        padding-right: auto;
    }
}