---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/ReactComponents/Header/Header";

// react router dom
import { BrowserRouter, Routes, Route } from "react-router-dom";

import { Suspense } from "react";

// components
import { Footer } from "./components/Footer/Footer";
import { ScrollTop } from "./components/ScrollTop";
import { ScrollButton } from "./utilities/ScrollButton";

// pages
// import { Archive } from "./pages/Archive";
import { Home } from "../components/pages/Home";
// import { About } from "./pages/About";
// import { ForAuthors } from "./pages/ForAuthors";
// import { GeneralTerms } from "./pages/GeneralTerms";
// import { Policy } from "./pages/Policy";
// import { NotFound } from "./pages/NotFound";
// import { EditorialBoardPage } from "./pages/EditorialBoardPage";

// i18next, language switching
// import i18n from "../";
---

<Layout title="Money and culture">
	<main>
		<Home />
	</main>
</Layout>
